#NutriconLayout {
  height: 741px;
  width: 360px;
  border: 1px solid black;
  margin: auto;
  opacity: 0.8;
}
#Nutriconheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 54px;
  width: 360px;
  margin-top: 0px;
  background-color: white;
  box-shadow: 0px 2px 24px 0px #0000001a;

  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

#Nutricontoggle-btn {
  height: 20px;
  width: 24px;
  margin-left: 280px;
  margin-top: 17px;
  border-radius: 5px;
  padding: 6px;
}
#Nutricontoggle-btn span {
  display: block;
  width: 10px;
  height: 2px;
  background: #151719;
  margin: 2px 0px;
}
#Nutricionheading {
  height: 24px;
  width: 59px;
  left: 12px;
  top: 15px;
  border-radius: 0px;
}

#Nutricionheading1 {
  height: 18px;
  width: 360px;
  background-color: black;
}

#NutriconimageLayout {
  height: 262px;
  width: 360px;
  left: 0px;
  top: 72px;
  border-radius: 5px;
  background: linear-gradient(180deg, #eafffc 0%, rgba(239, 255, 246, 0) 100%);
}

#Nutriconimageinnerlayout {
  height: 205px;
  width: 236px;
  margin-left: 97px;
  margin-top: 20px;
  border-radius: 0px;
}

#sidebarsymbols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -100px;
  height: 24px;
  font-size: 24px;
}

#price {
  height: 24px;
  width: 103px;
  margin-left: 13px;
  margin-top: 20px;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #000000de;
}

#Nutriconuse {
  height: 18px;
  width: 130px;
  margin-left: 12px;
  margin-top: 20px;
  border-radius: nullpx;
  font-family: Noto Serif Thai;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #000000;
}

#Nutricondata {
  height: 60px;
  width: 336px;
  margin-left: 12px;
  margin-top: -10px;
  border-radius: nullpx;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #000000;
}

#question2 {
  height: 18px;
  width: 129px;
  margin-left: 11px;
  margin-top: 15px;
  font-family: Noto Serif Thai;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: left;
}

#BuyNow {
  height: 52px;
  width: 221px;
  margin-top: -15px auto 0px auto;
  border-radius: 30px;
  padding: 18px, 76px, 18px, 76px;
  background: #00d215;
  border: none;
}
#Buynowdata {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

#NutriconSecondLayout {
  height: 640px;
  width: 360px;
  margin: auto;
  border: 1px solid black;
  margin-bottom:30px;
}

.Shopping-cart {
  height: 24px;
  width: 96px;
  margin-left: 12px;
  margin-top: 10px;
  font-family: Noto Serif Thai;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #000000de;
}

#Nutricon-self-tracking {
  height: 162px;
  width: 336px;
  margin-left: 12px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px #00000040;
}
.Nutriocon-image-box {
  display: flex;
  flex-direction: row;
  height: 136px;
  width: 124px;
  margin-left: 43px;
  margin-top: 10px;
  border-radius: 0px;
  /* border: 1px solid black; */
}

.Nutriocon-image-box img {
  width: 80px;
  height: 80px;
  margin-top: 37px;
  margin-left: 10px;
}

.Nutricon-self-tracking-data {
  height: 38px;
  width: 179px;
  margin-left: 35px;
  margin-top: 10px;
  font-family: Noto Serif Thai;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #000000de;
}

.Nutricon-self-tracking-price {
  height: 24px;
  width: 78px;
  margin-left: 35px;
  margin-top: 10px;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  color: #000000de;
}

#counterbtns {
  display: flex;
  flex-direction: row;
}
#plus {
  height: 20px;
  width: 41px;
  border: 1px solid #807e7e;
  margin-top: 10px;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  color: #000000;
}
#minus {
  margin-left: 35px;
  height: 20px;
  width: 41px;
  border: 1px solid #807e7e;
  margin-top: 10px;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 24px; */
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  color: black;
}
#count {
  height: 20px;
  width: 41px;
  border: 1px solid #807e7e;
  margin-top: 10px;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 24px; */
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  color: #59a80a;
}
#Order-summary {
  height: 24px;
  width: 108px;
  margin-left: 12px;
  margin-top: 60px;
  font-family: Noto Serif Thai;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #000000de;
}

#orderSummaryBelowBox {
  height: 130px;
  width: 336px;
  margin-left: 1px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px #00000040;
}

.subtotal > span,
.Discount > span,
.Shipping > span,
.TotalAmount > span {
  /* padding-left:120px; */
  float: right;
  padding-right: 10px;
  justify-content: space-between;
}

.subtotal {
  display: inline;
  height: 16px;
  width: 48px;
  margin-left: 12px;
  margin-top: 30px;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #000000de;
  padding-right: 210px;
}

.Discount {
  display: inline;
  height: 16px;
  width: 51px;
  margin-left: 12px;
  margin-top: 30px;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  padding-right: 220px;
}

.Shipping {
  display: inline;
  height: 16px;
  width: 51px;
  margin-left: 12px;
  margin-top: 30px;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  padding-right: 130px;
}
.TotalAmount {
  display: inline;
  height: 16px;
  width: 51px;
  margin-left: 12px;
  margin-top: 30px;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  padding-right: 180px;
}

#proceed {
  height: 52px;
  width: 217px;
  margin: 64px auto 0px auto;
  border-radius: 30px;
  padding: 18px, 76px, 18px, 76px;
  border: none;
  background: #00d215;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color:white;
}
