 .App{
    Width :360px;
    margin: auto;
  }.nutrify{
    padding: 10px;
    color: rgb(73, 73, 73);
    font-size: 20px;
    -webkit-box-shadow: 0 4px 6px -1px rgb(173, 168, 168);
      -moz-box-shadow: 0 4px 6px -1px rgb(173, 168, 168);
      box-shadow: 0 4px 6px -1px rgb(173, 168, 168);
    
  }.problems{
    padding-left: 10px;
    color: rgb(73, 73, 73);
    font-size: 18px;
  }.inputShow{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    line-height: 0;
   padding-left: 10px;
   font-size: small;
    /* padding: 10px 5px 10px 10px; */
    min-height: 40px;
    max-height: auto;
    width: 300px;
    border-radius: 25px;
    border: 1px solid rgb(173, 168, 168);
    border-top: none;
    box-shadow:0px 3px 3px rgb(173, 168, 168);
    outline: none;
    color: rgb(73, 73, 73);
  
  }.below{
    color: gray;
    font-size: 14px;
    padding-left: 10px;
  }.checkbox input{
    margin: 0px 30px 10px 25px;
    color: rgb(73, 73, 73);
  }.App button{
    color: white;
    padding: 12px;
    border-radius: 25px;
    background-color: rgb(26, 194, 35);
    border: none;
    outline: none;
    width: 150px;
  margin-left: 100px;
  margin-top: 10px;
  }hr{
    width: 305px;
  }.checkbox{
    color: rgb(73, 73, 73);
  }.radio p{
    color: rgb(26, 194, 35);
    font-weight: bold;
    text-align: center;
  }.radio1{
    border-bottom: 0px solid grey;
    box-shadow: 0px 3px 3px rgb(199, 197, 197);
    padding-bottom: 30px;
    padding-top: 10px;
  
  }.radio1 input{
    margin-left: 40px;
  }.radio button{
    margin-top: 40px;
  }
  
  
  
  /*-----Donut chart------*/
  .Appp {
    display: flex;
  
    font-family: sans-serif;
    text-align: center;
  }
  .deficiency{
    width: 360px;
    margin-top: -150px;
  }.deficiency p{
    cursor: pointer;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 15px;
    border: 1px solid rgb(187, 184, 184);
    border-top: none;
    border-radius: 30px;
    box-shadow: 0px 3px 3px rgb(187, 184, 184);
  }
  .span1:before{
    display: inline-block;
    content: "";
    border-top: .4rem solid #ff4560;
    border-radius: 5px;
    width: 18px;
    margin-right: 10px;
    margin-bottom: 1px;
  
    }
    .span2:before{
      display: inline-block;
      content: "";
      border-top: .4rem solid #feb019;
      border-radius: 5px;
      width: 18px;
      margin-right: 10px;
      margin-bottom: 1px;
    
      }
      .span3:before{
        display: inline-block;
        content: "";
        border-top: .4rem solid #00e396;
        border-radius: 5px;
        width: 18px;
        margin-right: 10px;
        margin-bottom: 1px;
      
        }
        .span4:before{
          display: inline-block;
          content: "";
          border-top: .4rem solid #775dd0;
          border-radius: 5px;
          width: 18px;
          margin-right: 10px;
          margin-bottom: 1px;
        
          }.done{
            margin: 30px 0px 0px 110px;
            background-color: rgb(18, 192, 18);
            padding: 10px;
            font-size: 18px;
            width: 130px;
            border: none;
            border-radius: 25px;
            color: white;
          }
  
  
  